@import url(../header/__title/header__title.css);
@import url(../header/__subtitle/header__subtitle.css);
@import url(../header/__square-pic/header__square-pic.css);
@import url(../header/__main-illustrarion/header__main-illustrarion.css);
@import url(../header/__link/header__link.css);

.header {
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;  
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}