@import url(../video/__iframe/video__iframe.css);
@import url(../video/__iframes/video__iframes.css);

.video {
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.video .section-title {
  line-height: 1.15;
}