@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./__main-illustrarion/header__main-illustrarion.css);
@import url(./__link/header__link.css);


.header {
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;  
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
  /* выше установили ограничения для секции */
}