@import url(cards/cards.css);

.techniques {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
